[Desktop Entry]
Name=Emacs Client (EAF-browser)
Exec=/usr/bin/eaf-browser %u
Icon=emacs-icon
Type=Application
Terminal=false
MimeType=x-scheme-handler/unknown;x-scheme-handler/about;text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https
