[submodule "doom/modules/private/spacemacs"]
	path = doom/modules/private/spacemacs
	url = git@github.com:Szkered/spacemacs_module_for_doom.git
[submodule "doom/themes/catppuccin"]
	path = doom/themes/catppuccin
	url = https://github.com/catppuccin/emacs.git
	shallow = true
[submodule "doom/zotra"]
	path = doom/zotra
	url = https://github.com/mpedramfar/zotra.git
[submodule "doom/themes/zaiste-emacs-theme"]
	path = doom/themes/zaiste-emacs-theme
	url = https://github.com/zaiste/zaiste-emacs-theme.git
	shallow = true
[submodule "doom/themes/kanagawa.nvim"]
	path = doom/themes/kanagawa.nvim
	url = git@github.com:Szkered/kanagawa.nvim.git
	shallow = true
[submodule "doom/themes/konrad1977"]
	path = doom/themes/konrad1977
	url = https://github.com/konrad1977/emacs.git
	shallow = true
[submodule "doom/org-auctex"]
	path = doom/org-auctex
	url = https://github.com/karthink/org-auctex.git
[submodule "doom/emacs-application-framework"]
	path = doom/emacs-application-framework
	url = https://github.com/emacs-eaf/emacs-application-framework.git
[submodule "doom/themes/doom-nano-themes"]
	path = doom/themes/doom-nano-themes
	url = https://github.com/ronisbr/doom-nano-themes.git
