.DS_Store
.idea
*.log
tmp/


/doom/config.el
/doom/packages.el
/xmonad/xmonad.errors
/xmonad/xmonad-x86_64-linux
/xmonad/build-x86_64-linux/
/doom/secret.el
/xmobar/xmobar.o
/xmobar/xmobar
/xmobar/xmobar.hi
/mailctl/services.yaml
