[Unit]
Description=Cisco AnyConnect Secure Mobility Client Agent
After=network.target

[Service]
User=root
Group=root
ExecStart=/opt/cisco/anyconnect/bin/vpnagentd -d

[Install]
WantedBy=multi-user.target
